.row
  #logo.span4
    = image_tag "pizza.jpg", :class => "img-circle"

  #quote.span8
    %h1 &pi;zza

    %blockquote.pull-right
      %p The easiest way to organize pizza parties
      %small Someone famous
